defaults: &defaults

  application:
    name: 'CrowdSync'
    host: 'crowdsync.dimalexsoftware.com'

  mailers:
    email:
      noreply: 'noreply@crowdsync.com'

  search:
    radius:      1 #mile
    date_offset: 1.week

  paggination:
    per_page: 20

  encoding:
    url:
      host: 'localhost'
      port: 3002

  eventful:
    app_key: "fFNCjc4kh2Gc3XVW"

  foursuare:
    client_id:     '4P2MF2LOPGFHWM4XJDLLVDYP3YMELZW0F3UK5ZDEXV3T1N2Z'
    client_secret: 'O4TVEE0WB53JPIU1JQITDOYZQFRCAWVEDMMK0CNDDFIZ02UI'

  instagram:
    client_id:     'CLIENT_ID'
    client_secret: 'CLIENT_SECRET'

  twitter:
    consumer_key: ''
    consumer_secret: ''

  pluraleyes:
    login: ''
    password: ''

  aws_s3:
    bucket: 'your_aws_s3_bucket'
    host: 'your_aws_s3_host'

  sync_with_pluraleyes:
    minimal_amount_of_videos: 2

  thumbnail:
    quality: 90
    small:
      width: 50
      height: 50
    medium:
      width: 125
      height: 125

  avatar:
    width: 100
    height: 100

development:
  <<: *defaults

  mail_config:
    smtp_settings:
     address: 'smtp.gmail.com'
     port: 587
     domain: 'Your Domain'
     authentication: :plain
     user_name: 'your_test_email@gmail.com'
     password: 'your_password'

test:
  <<: *defaults

production:
  <<: *defaults

