defaults: &defaults

  application:
    name: 'CrowdSync'
    host: 'crowdsync.dimalexsoftware.com'

  mailers:
    email:
      noreply: 'noreply@crowdsync.com'

  search:
    radius:      1 #mile
    date_offset: 1.week

  paggination:
    per_page: 20

  encoding:
    url:
      host: 'localhost'
      actions:
        encoders: "/encoders"
        medias: "/medias"
      port: 3002
    storage:
      host: 'http://crowdsync.dimalexsoftware.com:8989'
      location: '/media/storage/'

  eventful:
    app_key: "fFNCjc4kh2Gc3XVW"

  foursuare:
    client_id:     '4P2MF2LOPGFHWM4XJDLLVDYP3YMELZW0F3UK5ZDEXV3T1N2Z'
    client_secret: 'O4TVEE0WB53JPIU1JQITDOYZQFRCAWVEDMMK0CNDDFIZ02UI'

  instagram:
    client_id:     'CLIENT_ID'
    client_secret: 'CLIENT_SECRET'

  twitter:
    consumer_key: ''
    consumer_secret: ''

  pluraleyes:
    login: ''
    password: ''

  aws_s3:
    bucket: 'your_aws_s3_bucket'
    host: 'your_aws_s3_host'

  sync_with_pluraleyes:
    minimal_amount_of_videos: 2

  thumbnail:
    quality: 90
    small:
      width: 50
      height: 50
    medium:
      width: 125
      height: 125

  avatar:
    width: 100
    height: 100

  achievements:
      points:
        upload_video:                       10
        first_upload_to_event:              10
        add_song:                           10
        define_song:                        25
        exceeding_likes_count:              50
        exceeding_comments_count_for_video: 50
        exceeding_views_count:              25
        exceeding_followers_count:          50
        exceeding_followings_count:         50
        exceeding_comments_count_for_user:  25
        upload_longest_video_to_event:      50
        create_bridge:                      40
      limits:
        exceeding_likes_count:              100
        exceeding_comments_count_for_video: 100
        exceeding_views_count:              100
        exceeding_followers_count:          100
        exceeding_followings_count:         100
        exceeding_comments_count_for_user:  100

development:
  <<: *defaults

  mail_config:
    smtp_settings:
     address: 'smtp.gmail.com'
     port: 587
     domain: 'Your Domain'
     authentication: :plain
     user_name: 'your_test_email@gmail.com'
     password: 'your_password'

  notifications:
    apn:
      sound: "apnsTune.caf"

test:
  <<: *defaults

production:
  <<: *defaults
